body {
  font-family: 'Libre Baskerville', serif;
}

.player {
  background: #262427;
  padding: 50px;
  height: 450px;
  -webkit-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.15), 0 15px 35px 0 rgba(0, 105, 92, 0.5);
          box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.15), 0 15px 35px 0 rgba(0, 105, 92, 0.5);
  padding-top: 3rem;
}

.player .image-inner img {
  width: 50%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  border: 2px solid pink;
}

.player .song-title p {
  color: #c1c0c0;
}

.player .btn {
  color: pink;
  padding: 20px;
  font-size: 20px;
  outline: none;
}

.player .progress-bar {
  margin-top: 20px;
  background-color: pink;
  height: 6px;
  border-radius: 20px;
}

.player .progress-bar .fillBar {
  background-color: #dd7f8e;
  width: 0;
  height: 6px;
  border-radius: 20px;
}

.player .time {
  font-size: 16px;
  margin: 10px 0px;
  height: 6px;
}

.foo {
  background: #444;
  -webkit-animation: corner 3s;
          animation: corner 3s;
  border-radius: 50%;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  margin: auto;
}

@-webkit-keyframes corner {
  0% {
    border-top-left-radius: 1% 50%;
  }
  12.5% {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  25% {
    border-top-right-radius: 1% 50%;
  }
  25.001% {
    border-top-right-radius: 50% 1%;
  }
  37.5% {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  50% {
    border-bottom-right-radius: 50% 1%;
  }
  50.001% {
    border-bottom-right-radius: 1% 50%;
  }
  62.5% {
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  75% {
    border-bottom-left-radius: 1% 50%;
  }
  75.001% {
    border-bottom-left-radius: 50% 1%;
  }
  87.5% {
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
  }
  100% {
    border-top-left-radius: 50% 1%;
  }
}

@keyframes corner {
  0% {
    border-top-left-radius: 1% 50%;
  }
  12.5% {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  25% {
    border-top-right-radius: 1% 50%;
  }
  25.001% {
    border-top-right-radius: 50% 1%;
  }
  37.5% {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  50% {
    border-bottom-right-radius: 50% 1%;
  }
  50.001% {
    border-bottom-right-radius: 1% 50%;
  }
  62.5% {
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  75% {
    border-bottom-left-radius: 1% 50%;
  }
  75.001% {
    border-bottom-left-radius: 50% 1%;
  }
  87.5% {
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
  }
  100% {
    border-top-left-radius: 50% 1%;
  }
}

.playlist {
  background: #262427;
  height: 450px;
  -webkit-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.15), 0 15px 35px 0 rgba(0, 105, 92, 0.5);
          box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.15), 0 15px 35px 0 rgba(0, 105, 92, 0.5);
}

.playlist .play-list {
  padding: 26px;
}

.playlist .play-list li {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  padding: 10px;
  -webkit-transition: ease-in-out .2s all;
  transition: ease-in-out .2s all;
}

.playlist .play-list li:hover {
  background: #54394c;
}

.playlist .play-list li p {
  color: #c1c0c0;
  margin-bottom: 0;
}

.playlist .play-list li p.author {
  font-size: 10px;
  color: pink;
}

.playlist .play-list li:last-child {
  border-radius: 0;
}

#list {
  color: pink;
  padding: 20px;
}
/*# sourceMappingURL=style.css.map */